body {
  font-family: sans-serif;
  background: #02aab0;
  background: -webkit-linear-gradient(to right, #02aab0, #00cdac);
  background: linear-gradient(to right, #02aab0, #00cdac);
}
.background {
  display: flex;
  height: 250px;
  justify-content: center;
  align-items: center;
}

.logo {
  font-family: "Bubblegum Sans";
  font-size: 60px;
  color: white;
  width: 250px;
  height: 100px;
  border-radius: 50px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.searchContainer {
  display: flex;
  justify-content: center;
  align-content: center;
  gap: 20px;
}

.search {
  width: 400px;
  height: 30px;
  border-radius: 40px;
  border: none;
}

.closeSearchContainer {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 20px;
}

.ReturnButton {
  width: 200px;
  height: 20px;
  border: 0;
  background-color: #ff7f50;
  border-radius: 40px;
}
.crossButton {
  background-color: #ff7f50;
  border: none;
  cursor: pointer;
}

.searchButton {
  border-radius: 20px;
  width: 80px;
  background: #009fff; /* fallback for old browsers */
  background: -webkit-linear-gradient(
    to right,
    #ec2f4b,
    #009fff
  ); /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(
    to right,
    #ec2f4b,
    #009fff
  ); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
  color: white;
  border: none;
  cursor: pointer;
  opacity: 0.6;
  transition: 0.3s;
}
.searchButton:hover {
  opacity: 1;
}

.favouriteGifsButton {
  border-radius: 40px;
  width: 150px;
  height: 30px;
  background: #009fff; /* fallback for old browsers */
  background: -webkit-linear-gradient(
    to right,
    #ec2f4b,
    #d000ff
  ); /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(
    to right,
    #ec2f4b,
    #d000ff
  ); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
  color: white;
  border: none;
  cursor: pointer;
  opacity: 0.6;
  transition: 0.3s;
}
.favouriteGifsButton:hover {
  opacity: 1;
}

.resultsContainer {
  /* display: grid; */
  justify-content: center;
  padding: 40px;
  align-items: center;
  margin-top: 40px;
  gap: 80px;

  grid-template-columns: 1fr 1fr;
  grid-template-rows: 1fr 1fr;
}

.gifContainer {
  height: 200px;
  width: 250px;
  border-radius: 20px;
}

.gifContainerStandalone {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  min-width: 500px;
  min-height: 400px;
  padding-top: 20px;
  gap: 10px;
}

.container {
  display: flex;
  flex-direction: row;
}

.gifName {
  font-weight: 600;
}

li {
  padding: 40px;
}
